<div class="row comnapy-controls" style="text-align:right;margin-right:1em;margin-bottom:1em;">按创立年代排序
  <button type="button" class="btn btn-default" data-mixitup-control data-sort="founded-date:asc">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
   </button>
  <button type="button" class="btn btn-default" data-mixitup-control data-sort="founded-date:desc">
      <i class="fa fa-chevron-up" aria-hidden="true"></i>
   </button>

</div>

<div class="company-container">
  {% assign companies = site.data.companies | sort %}
  {% for company in companies reversed %}
  {% assign companyitem = company[1] %}


  <div id="{{ company[0] | slugify }}-full" class="mix col-sm-4 in" data-founded-date="{{ companyitem.founded }}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#{{ company[0] | slugify }}-full"><h3 class="panel-title">
   {{ companyitem.name }}</h3></a>
      </div>

      <div class="panel-body">
        <ul id="{{ company[0] | slugify }}" class="nav nav-tabs nav-justified">
          <li class="active"><a href="#{{ company[0] | slugify }}-basics" data-toggle="tab"><i class="fa fa-info-circle" aria-hidden="true"></i></a></li>
          <li class=""><a href="#{{ company[0] | slugify }}-about" data-toggle="tab"><i class="fa fa-file-text" aria-hidden="true"></i></a></li>
        </ul>
        <div id="{{ company[0] | slugify }}-Content" class="tab-content">
          <div class="tab-pane active in" id="{{ company[0] | slugify }}-basics">

            <ul class="list-group" style="font-size:90%;">
              <li class="list-group-item">
                <h4 class="list-group-item-heading">成立年份</h4>
                <p class="list-group-item-text">{{ companyitem.founded }}</p>
              </li>
              <li class="list-group-item">
                <h4 class="list-group-item-heading">公司基地</h4>
                <p class="list-group-item-text">{% for base in companyitem.base %} {{ base }}<br> {% endfor %}
                </p>
              </li>

              <li class="list-group-item">
                <h4 class="list-group-item-heading">公司类型</h4>
                <p class="list-group-item-text">
                  {% for category in companyitem.category %} {{ category }} <br> {% endfor %}
                </p>
              </li>

              {% if companyitem.link %}
              <li class="list-group-item">
                <h4 class="list-group-item-heading">网站</h4>
                <p class="list-group-item-text" style="overflow:hidden;text-overflow: ellipsis;">
                  {{ companyitem.link }}
                </p>
              </li>
              {% endif %} {% if companyitem.author == null %} {% elsif companyitem.author == '' %} {% else %}
              <li class="list-group-item">
                <h4 class="list-group-item-heading">添加</h4>
                <p class="list-group-item-text">{{ companyitem.author }}</p>
              </li>
              {% endif %}

            </ul>


          </div>
          <div class="tab-pane" id="{{ company[0] | slugify }}-about">
            <p markdown="1">{{ companyitem.about | markdownify }}</p>

          </div>


        </div>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
