<script>

$('.selectpicker').selectpicker({
  style: 'btn dropdown--select',
  size: 4,
  iconBase: 'fa',
  tickIcon: 'fa-check'
});


$(document).ready(function(){
    $('#characterLeft').text('最多 300 字，如果确实需要提供很长的介绍，可以在写在我们的GitHub Issues中。');
    $('.companyabouttextarea').keydown(function () {
        var max = 300;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('已经达到 300 字限制');
            $('#characterLeft').addClass('red');
            $('#company--button').addClass('disabled');
        }
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#company--button').removeClass('disabled');
            $('#characterLeft').removeClass('red');
        }
    });
});
</script>
