<table class="table">
<thead>
<tr>
<th style="text-align:center;">事件</th>
<th style="text-align:center;">描述</th>
<th style="text-align:center;">备注</th>
</tr>
</thead>
<tbody>
<tr>
<td>
月球试验性居住点
</td>
<td>
2026 年，人类即将登火的前夕，中国航天局和欧洲航天局合作在月球建立了试验性月球居住点。这是一个使用机器人 3D 打印建筑技术，就地取材使用月壤建造的。
</td>
<td>
</td>
</tr>
<tr>
<td>第一次登陆火星</td>
<td>2027 年第一次登陆火星</td>
<td></td>
</tr>
<tr>
<td>日光城一号功能型空间站</td>
<td>2028 年到 2031 年期间建设</td>
<td></td>
</tr>

<tr>
<td>
月球第二居住点
</td>
<td>
2029 年，月球上第二个永久居住点建立。
</td>
<td>
</td>
</tr>

<tr>
<td>
月球第一科研基地
</td>
<td>
2032 年，第一个月球科研基地，作为前两个居住点的扩展，正式建成。
</td>
<td>
</td>
</tr>

<tr>
<td>
月球虹湾资源开采基地
</td>
<td>
 中国航天集团（由中国航天科技集团与中国航天科工集团在 2031 年合并而成）于 2039 年在月球虹湾建立了第一个月球资源开采基地，主要目标是虹湾的玄武岩中的钛铁矿。
</td>
<td>
</td>
</tr>

<tr>
<td>
月球风暴洋开采基地
</td>
<td>
 2040 年，近地小行星矿业公司在风暴洋建立了稀土资源和铁矿开采基地。
</td>
<td>
</td>
</tr>

<tr>
<td>瀑布城（太空城市）</td>
<td>2040 年到 2043 年期间建设</td>
<td></td>
</tr>

<tr>
<td>星夜城（太空城市）</td>
<td>2042 年到 2046 年期间建设</td>
<td></td>
</tr>



<tr>
<td>火星伊希地城市圈</td>
<td>包含南河城，天狼城，参宿城，2070 年开始建设，2123 年基本完成。</td>
<td><a href="http://interimm.org/toolbox.html#mars-cities" target="_blank"><span class="label label-default">地图</span></a></td>
</tr>
<tr>
<td>火星亚马逊城市圈</td>
<td>包含楼兰城，庞贝城，亚特兰蒂斯城，22世纪中叶由补给站发展起来。</td>
<td><a href="http://interimm.org/toolbox.html#mars-cities" target="_blank"><span class="label label-default">地图</span></a></td>
</tr>
<tr>
<td>火星子午线城市圈</td>
<td>包含奇点城，视界城，星坠城；2139 年奇点城开始在地质考察站基础上商业开发，2148 年世界城开始建设，分别于 2145 年和 2153 年陆续建成。</td>
<td><a href="http://interimm.org/toolbox.html#mars-cities" target="_blank"><span class="label label-default">地图</span></a></td>
</tr>
<tr>
<td>火星希腊城市圈</td>
<td>包含川陀城，端点城，2155 年开始正式建设。</td>
<td><a href="http://interimm.org/toolbox.html#mars-cities" target="_blank"><span class="label label-default">地图</span></a></td>
</tr>
<tr>
<td>
火星第一太空电梯
</td>
<td>
电梯方案在 2156 年提出，经过两年的规划和研究才开始施工。经过五年的时间，工程才缓慢完成，电梯于 2163 年投入运营。地面站选在了 2148 年开始建造的视界城旁边。
</td>
<td>
</td>
</tr>
<tr>
<td>火星行星地质大学</td>
<td>即 Planetary Geology University，位于星坠城，2165 年成立</td>
<td><a href="http://interimm.org/toolbox.html#mars-cities" target="_blank"><span class="label label-default">地图</span></a></td>
</tr>

<tr>
<td>
外太阳系旅游
</td>
<td>
在 22 世纪 70 年代，火纵线公司面向火星公民推出了价格更低廉的外太阳系旅游线路，包括了泰坦旅游。
</td>
<td>
</td>
</tr>

<tr>
<td>
泰坦资源开发
</td>
<td>
火纵线公司 70 年代就开始对木星和土星的卫星上的游客服务中心进行扩建，最大的两个的分别是欧罗巴游客服务中心和泰坦游客服务中心。泰坦资源开发的序幕也就此拉开。
</td>
<td>
</td>
</tr>

<tr>
<td>
泰坦移民
</td>
<td>
22 世纪 80 年代初的旅游黄金期一过，泰坦游客服务中心的人流量少了一大半，工作人员也只留下了必要的人数，而剩下的泰坦移民者则真正开始了他们的生活。
</td>
<td>
</td>
</tr>

<tr>
<td>
伊希地病
</td>
<td>
2207 年，伊希地城市圈建设过程中，由于人流量的增大，南河城爆发了新型的传染病。
</td>
<td>
</td>
</tr>
<tr>
<td>
火星第二太空电梯
</td>
<td>
2214 年开工，2217 年完成。地面站位于伊希地城市圈南方不远处。
</td>
<td>
</td>
</tr>
<tr>
<td>
火星第三太空电梯
</td>
<td>
2223 年到 2225 年期间建设
</td>
<td>
</td>
</tr>
<tr>
<td>
火星第四太空电梯、火星第五太空电梯
</td>
<td>
 2230 年到 2234 年期间，有两架太空电梯建立起来。地面站分别位于伊希地城市圈和子午线城市圈之间，以及在伊希地城市圈和亚马逊城市圈之间。
</td>
<td>
</td>
</tr>
</tbody>
</table>
