---
title: 未来星际企业列表 | 星际移民中心
---
<!DOCTYPE html>
<html lang="en">
{% include landing/landing-head.html %}
<body>



{% include header.html %}


    <section id="list" class="pad-xl">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.1s">
            <h2>星际企业列表</h2>

          </div>
        </div>




        <div class="wow fadeInUp" data-wow-delay="0.3s">
           <div class="row">

             {% include list.html %}

           </div>
        </div>
      </div>
    </section>


<!-- Add your company -->












    {% include footer.html %}


    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.0.min.js"><\/script>')</script>

    {% include mixitupscript.html %}
    <script src="assets/js/bootstrap-select.min.js"></script>

    <script src="assets/js/validator.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>


    </body>
</html>
