<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link" href="getting-started.html">Getting Started</a></li>
          <li><a class="nav-link current" href="documentation.html">Documentation</a></li>
          <li><a class="nav-link" href="free-psd.html">Free PSD</a></li>
          <li><a class="nav-link" href="color-picker.html">Color Picker</a></li>
        </ul>
      </div>
    </div>
</nav>
