<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
  <form data-toggle="validator" role="form" method="post" action="https://api.staticman.net/v2/entry/interimm/hub/gh-pages">

<input name="options[redirect]" type="hidden" value="https://github.com/InterImm/hub/pulls">
     <div class="row">
     <fieldset class="form-group col-sm-6">

            <input class="form-control" type="text" id="company-form[author]" name="fields[author]" placeholder="创建人（用于显示在列表中）" data-toggle="tooltip" data-placement="left" title="" data-original-title="可以虚构名称"/>

         </fieldset>

      <fieldset class="form-group col-sm-6">

        <input class="form-control" type="text" id="company-form[email]" name="fields[email]" placeholder="邮箱（用于联系作者）；必填" required/>


      </fieldset>
   </div>



     <fieldset class="form-group row">
       <div class="col-sm-12">
         <input class="form-control" type="text" id="company-form[name]" name="fields[name]" placeholder="星际企业名称（例如：维珍银河公司 - Virgin Galactic）；必填" required/>

       </div>
       </fieldset>

       <div class="row">
       <fieldset class="form-group col-sm-6">

           <input class="form-control" type="number" id="company-form[founded]" name="fields[founded]" placeholder="企业成立时间（例如：2022）；必填" required/>

         </fieldset>

         <fieldset class="form-group col-sm-6">

            <input class="form-control" type="text" id="company-form[base]" name="fields[base]" placeholder="企业位置（例如：火星南河城）；必填" required/>

          </fieldset>
      </div>


       <fieldset class="form-group row">
       <div class="col-sm-12">
       <input class="form-control" type="text" id="company-form[category]" name="fields[category]" placeholder="星际企业类型（例如：旅游观光）；必填" required/>
    </div>
     </fieldset>

     <fieldset class="form-group row">
       <div class="col-sm-12">
         <input class="form-control" type="text" id="company-form[name]" name="fields[name]" placeholder="星际企业网址（例如：http://www.virgingalactic.com/）"/>

       </div>
     </fieldset>



     <fieldset class="form-group row">
       <div class="col-sm-12">
         <textarea class="form-control companyabouttextarea" name="fields[about]" type="text" maxlength="300" rows= "10" id="company-form[about]" placeholder="公司详情（例如：时属维珍集团子公司，其开发的太空船系列亚轨道飞船在 20 世纪 20 年代的亚轨道旅游热潮中占据了大部分市场份额。后并入轨道旅游局。）；必填" required></textarea>
         <span class="help-block"><p id="characterLeft" class="help-block ">300 字限制；如需很长的详情，可以提交之后在跳转的页面中继续添加，或者在我们的 <a href="https://github.com/InterImm/hub/issues" target="_blank"><span class="label label-default">GitHub Issues</span></a> 中添加。<br> 可以使用简单的 Markdown 语法</p></span>
       </div>
     </fieldset>



    <fieldset class="form-group row">
      <button id="company--button" type="submit" class="btn btn-primary btn-lg" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点击后会跳转到 GitHub 待审核的企业列表，可以添加后续评论。如跳转失败请使用科学上网。">
        提交
      </button>

   </fieldset>


  </form>

</div>
