/* underline to identify links */
a:hover,
a:focus {
  text-decoration: underline;
}

.page--content {
margin-left: 1em;
margin-right: 1em;
padding-left: 1em;
padding-right: 1em;
}


/* Post List Begin */
body{ margin-top:20px;}
.glyphicon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}

.panel.panel-horizontal {
    display:table;
    width:100%;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 25%;
    border:0;
    vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;

}
.panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.post-list-meta-date {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-list-meta-categories {
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-list-meta-categories>span {
padding-right: 0.3em;
padding-left: 0.3em;
}
.post-list-meta-author-image {
  width: 100%;
}
/* Post List End */

.footer--light {
}
.site-title-custom {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.site-title-custom {
	line-height: 2.5em;
}

.site-title-custom > span {
	font-size: 2em;
	margin-top: 2px;
	display: block;
}

.site-title-custom a {
	/*color: #37BC9B;*/
}

.site-title-custom small {
  font-size: 1em;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
  display: block;
}
.label {
   border-radius: 0; 
}
