<div class="tile is-ancestor">
  <div class="tile is-vertical is-6">
    <div class="tile is-parent">
      <article class="tile is-child notification is-primary">
        <a href="{{ "/companies/" | relative_url }}" style="text-decoration: none;"><p class="title">Browse the List</p></a>
        <p class="subtitle">Selected {{ site.data.companies.size }} companies
        </p>
        <div class="content">
          <a href="{{ "/companies/" | relative_url }}" class="button is-light is-warning"><i class="fas fa-list"></i> <span> Database</span></a>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-vertical is-6">
    <div class="tile is-parent">
      <article class="tile is-child notification is-primary">
        <a href="{{ "/add/" | relative_url }}" style="text-decoration: none;"><p class="title">Add New Company</p></a>
        <p class="subtitle">Add your idea to the list</p>
        <div class="content">
          <a href="{{ "/add/" | relative_url }}" class="button is-light is-danger"><i class="fas fa-puzzle-piece"></i>Add New</a>
        </div>
      </article>
    </div>
  </div>
</div>
