<!-- Hero content: will be in the middle -->
</section>
<div class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-three-fifths">
          <h1 class="title is-2 is-spaced" style="text-transform: none;">
            {{ site.title_en }}
          </h1>
          <h2 class="subtitle is-4" style="text-transform: none;">
            <div class="tags is-centered">
              <span class="tag is-info is-rounded">A Spacefaring Civilization</span>
              <span class="tag is-info is-rounded">Maintained by the Interplanetary Immigration Center</span>
              <span class="tag is-info is-rounded">Open Source and Transparent Workflow</span>
            </div>
          </h2>
          <div class="is-divider" style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;"></div>
          <div>
            <p class="is-small">
              Imagine a future with your idea in it
            </p>
          </div>

          <div class="is-divider" style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;"></div>
          {% include en/home/add.html %}

        </div>
        <div class="column">
          <img src="{{site.baseurl}}/assets/images/undraw_startman1_h7l9.svg">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Hero footer: will stick at the bottom -->
<!-- <div class="hero-foot">
  <nav class="tabs">
    <div class="container">
      <ul>
        <li class="is-active"><a>Posts</a></li>
        <li><a>Modifiers</a></li>
      </ul>
    </div>
  </nav>
</div> -->
</section>
