<div class="tile is-ancestor">
  <div class="tile is-vertical is-6">
    <div class="tile is-parent">
      <article class="tile is-child notification is-info">
        <a href="{{ "/flora/" | relative_url }}" style="text-decoration: none;"><p class="title">Use Datasets</p></a>
        <p class="subtitle">Clean datasets to boost your data science/analysis project</p>
        <div class="content">
          <a href="{{ "/flora/" | relative_url }}" class="button is-light is-outlined"><i class="fas fa-list"></i> <span>View Flora</span></a>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-vertical is-6">
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <a href="{{ "/add/" | relative_url }}" style="text-decoration: none;"><p class="title">List Datasets</p></a>
        <p class="subtitle">Add datasets and contribute to the open data community</p>
        <div class="content">
          <a href="{{ "/add/" | relative_url }}" class="button is-light is-outlined"><i class="fas fa-puzzle-piece"></i>Contribute</a>
        </div>
      </article>
    </div>
  </div>
</div>
