<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand brand-style" href="#top"><i class="fa fa-building-o"></i> &nbsp; 星际企业</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
         <ul class="nav navbar-nav navbar-left" style="margin-right:0.5em;">

         <li><a href="{{ "/companies.html" | prepend: site.baseurl}}"><i class="fa fa-list"></i>&nbsp; 全部企业</a></li>
         <li><a href="{{ "/about.html" | prepend: site.baseurl}}"><i class="fa fa-superpowers"></i>&nbsp; 关于</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right" style="margin-right:0.5em;">

         <li><a href="#list" class="scroll"><i class="fa fa-compass"></i>&nbsp; 最新企业</a></li>
         <li><a href="#add" class="scroll"> <i class="fa fa-puzzle-piece"></i>&nbsp; 添加企业</a></li>
         <li class="dropdown" style="margin-left:1.5em;"><a href="http://interimm.org" target="_blank"><i class="fa fa-arrow-circle-o-down" style="display:none;"></i><img src="assets/images/logo.png" alt="Logo" id="logo--icon--right"></a></li>
         </ul>




      </div>
   </div>
</nav>
