<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 signin navbar-nav">
         <a href="{{ "/companies.html" | prepend: site.baseurl }}">全部企业</a>

      </div>
      <div class="col-xs-6 text-right">
        <a href="http://interimm.org"><img src="assets/images/logo.png" alt="Logo" id="logo--icon"></a>&nbsp; &nbsp;
      </div>
    </div>

    <div class="row header-info">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1 class="wow fadeIn">星际企业</h1>
        <br />
        <p class="lead wow fadeIn" data-wow-delay="0.5s">严肃的星际企业脑洞基地 <br>
        在这里“脑洞出”你自己的星际企业<br>
        来自星际移民中心</p>
        <br />

        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                <a href="#list" class="btn btn-secondary btn-lg scroll">星际企业精选</a>
              </div>
              <div class="col-xs-6 text-left wow fadeInUp" data-wow-delay="1s">
                <a href="#add" class="btn btn-secondary btn-lg scroll">添加星际企业</a>
              </div>
              <!-- <div class="col-xs-4 text-left wow fadeInUp" data-wow-delay="1.4s">
                <a href="#more--by--interimm" class="btn btn-secondary btn-lg scroll">星际移民中心</a>
              </div> -->
            </div><!--End Button Row-->
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<div class="mouse-icon hidden-xs">
        <div class="scroll"></div>
     </div>
