<div class="columns is-vcentered" style="margin: 5em 0 5em 0;">
  <div class="column is-half" style="padding: 0 10% 0 10%;">
    <img src="{{site.base_url}}/assets/images/undraw_detailed_examination_joef.svg">
  </div>
  <div class="column is-half is-vcentered" style="padding: 2rem 0 2rem 0;">
    <div>
      DataHerb is metadata-driven.
      <ul>
        <li>The datasets are described by their metadata companions.</li>
        <li>Listings of datasets are managed by metadata.</li>
      </ul>
    </div>
  </div>
</div>